@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import "./reset.scss";

$red: #ef3b3b;
$dark-red: #c82020;
body, html {
    background: #222;
    color: #eeeeee;
    margin: 0;  
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 16px;
}

h1 {
    padding: 15px 0;
    font-size: 32px;
}

h2 {
    font-size: 26px;
    padding: 5px 0;
}

h3 {
    font-size: 18px;
    padding: 5px 0;
}

ul {
    padding: 0;
}

a {
    color: $red;
}

header {
    text-align: center;
    background: #222;

    a {
        text-decoration: none;
    }
}

main {
    padding: 20px 5px;
    min-height: 600px;
    background: #333333;
}

footer {
    background: #222;
    padding: 30px 0;
}

nav {
    background: $dark-red;
    text-align: center;
    ul li {
        display: inline-block;
        a {
            display: inline-block;
            padding: 10px 15px;
            text-decoration: none;
            color: inherit;

            &:hover {
                color: #cccccc;
            }
        }
    }
}

.assignment-part {
    margin: 15px 5px;
    > span {
        display: inline-block;
    }
}
.assignment-part 

.code {
    text-align: left;
    font-family: "Roboto Mono", monospace;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 3px;
    white-space: pre-wrap;
    font-size: 12px;
    font-weight: 300;
    line-height: 120%;
}